.title{
    font-family: Poppins-Bold;
      font-size: 28px;
    font-weight: bold;
      color: rgb(39, 219, 23);
      line-height: 1.2;
      text-align: center;
  
      width: 100%;
      display: block;
      padding-bottom: 30px;
  
  }
  .para{
    font-family: Poppins-Bold;
      font-size: 18px;
    font-weight: bold;
      color: rgb(0, 0, 0);
    text-align: center;
  }
  .container{
    
  
    width: 600px;
      background: rgb(255, 255, 255);
      border-radius: 10px;
      overflow: hidden;
    margin-top:100px;
    margin-left: 250px;
      flex-wrap: wrap;
      justify-content: space-between;
    padding: 50px 130px 33px 95px;
  
  }


@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');



body {
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: 'Lato', sans-serif;
}

.container {
  margin: 30px auto;
  width: 350px;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
  text-align: center;
}

h2 {
  letter-spacing: 1px;
  margin: 0;
  text-align: center;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 40px 0 10px;
  text-align: center;
}

h4 {
  margin: 0;
  text-transform: uppercase;
  text-align: center;
}

.inc-exp-container {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.inc-exp-container > div {
  flex: 1;
  text-align: center;
}

.inc-exp-container > div:first-of-type {
  border-right: 1px solid #dedede;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: rgb(39, 219, 23);
  font-weight: bold;
}

.money.minus {
  color: red;
  font-weight: bold;
}

label {
  display: inline-block;
  margin: 10px 0;
  font-weight: bold;
}

input[type='text'],
input[type='number'] {
  border: 1px solid #dedede;
  border-radius: 5px;
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
}

.btn {
  cursor: pointer;
  background-color: #c850c0;
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  display: block;
  font-size: 16px;
  margin: 15px 0 30px;
  padding: 10px;
  width: 100%;
  font-weight: bold;
}

.btn:focus,
.delete-btn:focus {
  outline: 5px;
  
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
}

.list li.plus {
  border-right: 5px solid rgb(39, 219, 23);;
}

.list li.plus:hover {
  border-right: 5px solid rgb(39, 219, 23);;
  background-color: rgb(39, 219, 23);;
  color: #f7f7f7
}

.list li.minus {
  border-right: 5px solid red;
}

.list li.minus:hover {
  border-right: 5px solid red;
  background-color: red;
  color: #f7f7f7
}


.delete-btn {
  cursor: pointer;
  background-color: #8a6a66;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 2px 5px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
}

.list li:hover .delete-btn {
  opacity: 0.5;
}
  
  